* {
    margin: 0;
    padding: 0;
   
}
body {
    width: 100%;
    background: #fbfea4 ;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #fbfea4;
}

header {
    background-color: #fbfea4;
    padding: 15px 0;
}

.titulo {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    background: #fbfea4;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.texto {
    position: absolute;
    width: 38%;
    height: 60%;
    left: 12%;
    top: 5%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    background-color: #f5fcb9;
    flex: 1 1 auto;
}

.texto::placeholder {
    color: #0a3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
    resize: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 70%;
}

.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0%;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 72%;
    gap: 3%;
   
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 1.8%;
    gap: 10px;
    width: 25%;
    background-color: #e6c937;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: #494001;
    }

.btn-desencriptar {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 1.8%;
        gap: 8px;
        width: 25%;
        background: #dbfa9e;
        border: 1px solid #bded39;
        border-radius: 24px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        line-height: 10px;
        text-align: center;
        color: #4b3f05;
        
    }

.btn-desencriptar:hover,
.btn-encriptar:hover {
        margin: 0.30%;
        width: 24.5%;
        padding: 1.5%;
    }

.encriptado {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 30%;
        height: 78%;
        left: 55%;
        top: 3%;
        background: #fff;
        box-shadow: 0px 24px 32px -8px rgba(164, 21, 21, 0.08);
        border-radius: 32px;
    }

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
    }

.mensaje-encriptado h2 {
        width: 60%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343a40;
    }

.mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.pie-pagina{
    margin: auto;
    width: 70%;
}

.autor {
    text-align: left;
     font-size: 15px;
 }

.footer-center{
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 10px 0;
    color: #5f5a5f;
}

.face, .insta, .link, .git{
    width: 30px;
    
}

.face:hover, .insta:hover, .link:hover, .git:hover{
    box-shadow: 20px 10px 20px gray;
    transition: 0.5s;
}

/* responsive design */
@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 6%;
    }

    .terminos p {
        font-size: 16px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
.footer {
    text-align: center;
}
}
    